* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  width: auto !important;
  &:hover {
    color: #444;
  }
}
ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* scroll */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background: rgb(var(--primary-color-400));
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--secondary-color-600));
  border-radius: 50px;
}
